.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
body {
	height: 100vh;
	font-family: Nimbus Sans L;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.sideNav {
	color: blue;
	padding: 50px;
	padding-right: 0px;
	padding-top: 50px;
	background-color: black;
	position: fixed;
	height: 100%;
	width: 405px;
	flex: 1;
	text-align: center;
	border-right: #282c34;
	border-right-style: solid;
	border-right-width: 2px;
	/* position: -webkit-sticky; */
}
.sideNav li {
	margin: 40px;
	padding: 0px;
	padding-left: 70px;
	color: white;
	font-weight: 700;

	font-size: 20px;
}
.main {
	position: absolute;
	left: 405px;
	background-color: black;
	min-height: 100vh;
	width: 598px;
	color: white;
	text-align: center;
}
.sideNav a {
	color: white;
	text-decoration: none;
	padding: 12px;
	border-radius: 12px;
}
.sideNav a:hover {
	color: rgb(29, 161, 242);
	background-color: rgba(29, 161, 242, 0.1);
	border-top-left-radius: 9999px;
	border-top-right-radius: 9999px;
	border-bottom-left-radius: 9999px;
	border-bottom-right-radius: 9999px;
	padding: 15px;

	text-align: center;
}
body {
	margin: 0;
	padding: 0;
	color: #252525;
}

a {
	text-decoration: none;
	color: #252525;
}

.container {
	/* border: 1px solid #dad7d7; */
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

.btn {
	text-transform: uppercase;
	margin: 35px auto;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.29);
	cursor: pointer;
	background: #fff;
	font-size: 16px;
	width: 250px;
	position: relative;
}

.btn:hover {
	border-color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.btn:focus {
	outline: 0;
	font-weight: 700;
	border-width: 2px;
}

.center {
	text-align: center;
	color: white;
}

.active {
	font-weight: bold;
}

.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	text-decoration: none;
}

.nav li:first-child {
	padding-left: 0;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
	padding: 10px;
	text-decoration: none;
}

.avatar {
	height: 50px;
	border-radius: 25px;
	margin: 10px;
}

.tweet {
	width: 100%;
	max-width: 590px;
	padding: 10px;
	display: flex;
	margin: 0 auto;
	border: 1px solid #dad7d7;
	border-radius: 3px;
	cursor: pointer;
}

.tweet-info {
	color: white;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
	font-weight: bold;
	margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
	color: #969696;
	font-size: 16px;
}
.tweet-info > div > div {
	color: #969696;
	font-size: 15px;
}
.tweet-info > div > a > p {
	font-size: 18px;
	margin: 10px 0;
}
.tweet-icons {
	display: flex;
	align-items: center;
}
.tweet-icons > span {
	color: #969696;
	margin: 0 15px 0 5px;
	font-size: 18px !important;
}
.tweet-icon {
	font-size: 27px;
	color: #697784;
}
.tweet-icon:hover {
	color: #00b5d6;
	cursor: pointer;
}
.replying-to {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	color: #969696;
	cursor: pointer;
}

.heart-button {
	background: transparent;
	border: none;
}

.new-tweet {
	width: 100%;
	max-width: 590px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.textarea {
	border-radius: 4px;
	border: 1px solid #dad7d7;
	padding: 10px;
	font-size: 15px;
	height: 100px;
}

.tweet-length {
	text-align: right;
	margin-top: 10px;
	font-size: 20px;
	color: #c3392a;
}
